.category-buttons{
    text-align: center;
    margin:2rem;
    .category{
        border: 2px solid #b28e5a;
        background-color: transparent;
        border-radius: 8px;
        padding: 0.2rem 0.75rem;
        margin-right:12px;
        color:#b28e5a;
    }
}